<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css">
  </head>
  <body>
    <h1> Welcome <%= user.name %> </h1>
    <div class="register_complaint">
      <button type="button" name="button">Register A New Complaint</button>
      <!-- modal here for different levels -->
    </div>
    <div class="individual_complaints">
      <% user.individual_complaints.forEach(function(complaint) { %>
          <div class="complaint">
            <p><%= complaint.title %></p>
            <p>Complaint registered on : <%=complaint.timestamp%></p>
            <button type="button" class="btn btn-success" name="button">Mark as Resolved</button>
          </div>
      <% }) %>
    </div>
    <div class="hostel_complaints">
      <% hostel_complaints.forEach(function(complaint) { %>
        <% if(user.hostel == complaint.hostel){ %>
          <div class="complaint">
            <p><%= complaint.title %></p>
            <p>Complaint registered on : <%=complaint.timestamp%></p>
            <% if(complaint.author.id.equals(user._id)){ %>
              <form class="delete-form" action="/complaints/<%=complaint._id%>?_method=DELETE" method="post">
                <button type="button" class="btn btn-success" name="button">Mark as Resolved</button>
              </form>
            <% } %>
          </div>
        <% } %>
      <% }) %>
    </div>
    <div class="institute_complaints">
      <% institute_complaints.forEach(function(complaint) { %>
          <div class="complaint">
            <p><%= complaint.title %></p>
            <p>Complaint registered on : <%=complaint.timestamp%></p>
            <% if(complaint.author.id.equals(user._id)){ %>
              <form class="delete-form" action="/complaints/<%=complaint._id%>?_method=DELETE" method="post">
                <button type="button" class="btn btn-success" name="button">Mark as Resolved</button>
              </form>
            <% } %>
          </div>
      <% }) %>
    </div>

    <div class="logout">
      <button type="submit" class= "btn btn-secondary" name="button">Logout</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
